// Fonts

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@mixin bold-font ($size, $line-height) {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 700;
  line-height: $line-height;
  font-size: $size;
}

@mixin regular-font ($size, $line-height) {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  line-height: $line-height;
  font-size: $size;
}
